body{
    background-color: #EEEAEE;
}

#container{
    width: 720px;
    margin: 0 auto;
    background: #E4E3E4;
}

#marca{
    height: 100px;
    background: #392739;
    text-align: center;
    line-height: 100px;
    color: white;
}

#conteudo{
    width: 520px;
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
}

#navegacao{
    width: 180px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #959095;
    margin-bottom: 15px;
    margin-top: 15px;
}

#rodape{
    clear: both;
    color: #392739;
    background: #959095;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

#cont-principal{
    width: 320px;
    float: left;
    background: #D7D5D7;
}

#cont-secundario{
    width: 180px;
    float: right;
    background: #D7D5D7;
}

#navegacao ul{
    list-style-type: none;
}

#navegacao li a{
    text-decoration: none;
}

#cont-secundario h2,
#cont-secundario p{
    padding-left: 15px;
    padding-right: 15px;
}