table{
    width: 600px;
    border-collapse: collapse;
}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase; /*DEIXA O TEXTO EM CAPSLOOK*/
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 85%;
}

tr.alternado{
    background-color: #F0EEEE;
}

tr:hover{
    background-color: #DCB3B3;

}

.direita{
    text-align: right;
}